<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JordvarmeController.ControllerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <appSettings>
    <add key="Log_ConfigFile" value="C:\GitRepositories\JordvarmeController\JordvarmeController\log4net.config.xml" />
  </appSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.14.0" newVersion="1.2.14.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JordvarmeController.ControllerSettings>
      <setting name="Offset" serializeAs="String">
        <value>0.05</value>
      </setting>
      <setting name="AmplificationUp" serializeAs="String">
        <value>125</value>
      </setting>
      <setting name="AmplificatinDown" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="Threshold" serializeAs="String">
        <value>0.011</value>
      </setting>
    </JordvarmeController.ControllerSettings>
  </userSettings>
</configuration>